<section class="content-header">
  <h1>City Master</h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li><a routerLink="/">Masters</a></li>
    <li class="active">City Master</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <form role="form">
          <div class="box-body">
            <div class="row">
              <div class="col-md-3">
                <app-input-field></app-input-field>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
